<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>상품 전체보기</title>
		<link rel="stylesheet" href="/productList.css">
	</head>
	<body>
		<h1 th:text="${msg}"></h1>
		<h1>음료목록</h1>
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>음료명</th>
					<th>가격</th>
					<th>수량</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each= "p: ${drinkList}">
					<td th:text="${p.drinks_id}"></td>
					<td th:text="${p.drinks_name}"></td>
					<td th:text="${p.drinks_price}"></td>
					<td th:text="${p.drinks_quantity}"></td>
				</tr>
			</tbody>
		</table>
		
	</body>
</html>